:root {
  --color-brand: #fd9222;
  --color-primary: #111111;
  --color-border-dark: #1111111a;
  --color-primary-dark: #111111b2;
  --color-primary-light: #fff;
  --color-background: #1e1823;
  --color-background-light: #fafafa;
  --color-background-button: #fcf1e0;
  --color-primary-light-accent: #ffffffb2;
  --color-border-ligth: #ffffff80;
  --c-border-extra: #d7e4f940;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background-light);
  font-size: 14px;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-primary {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  border: none;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 100px;
  font-weight: 600;
  line-height: 1.21;
}

.button-primary:hover {
  background-color: var(--color-background-button);
  color: var(--color-brand);
}

.section {
  padding: 64px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.sections-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.title-accent {
  color: var(--color-brand);
}

/* Header */

.header {
  padding-bottom: 8px;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-align: left;
  gap: 4px;
  text-transform: uppercase;
}

.logo-accent {
  font-style: italic;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-align: left;
}

.nav-link:hover {
  color: var(--color-brand);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-grow: 1;
}
.header-socials {
  display: flex;
  gap: 18px;
}
.header-social-link {
  fill: none;
  stroke: var(--color-primary);
  transition: stroke 0.2s;
}
.header-social-link:hover {
  stroke: var(--color-brand);
}

.nav-list {
  display: flex;
  gap: 24px;
  flex-grow: 1;
  justify-content: center;
}
/* Hero */

.hero-section {
  padding-bottom: 72px;
}

.hero-inner {
  padding: 380px 40px 40px;
  background-color: var(--color-background);
  border-radius: 30px;
  background-image: url(../images/hero-bg.jpeg);
}

.hero-title {
  max-width: 484px;
  color: var(--color-primary-light);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 32px;
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.button-hero {
  background-color: var(--color-background);
  color: var(--color-primary-light);
  border: 1px solid currentColor;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
}

.button-hero:hover {
  color: var(--color-brand);
}

.hero-arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
  color: var(--color-primary-light);
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
}

.hero-arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  fill: var(--color-brand);
  background-color: var(--color-primary-light);
  border-radius: 50%;
  animation: bounce 2s infinite reverse;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-arrow:hover .hero-arrow-icon {
  background-color: var(--color-brand);
  fill: var(--color-primary-light);
}
/* Our Benefits Section*/
.benefits-section {
  padding: 50px 0;
  background-color: var(--color-background);
}

.benefits-list {
  display: flex;
  gap: 70px;
}

.benefits-item:not(:last-child) {
  padding-right: 18px;
  border-right: 1px solid var(--color-border-ligth);
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 62px;
  margin-bottom: 22px;
  border: 1px solid var(--color-border-ligth);
  border-radius: 50%;
  fill: var(--color-brand);
}

.benefits-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--color-primary-light);
  margin-bottom: 18px;
}

.benefits-text {
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--color-primary-light-accent);
}

/* Ingredients Section */

.ingredients-block {
  padding-top: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-bottom: 50px;
}
.ingredients-title {
  max-width: 411px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}

.ingredients-text {
  max-width: 486px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
}

.ingredients-list {
  display: flex;
  gap: 19px;
}

.ingredients-item {
  flex-basis: calc((100% - 57px) / 4);
}

.ingredients-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.ingredient {
  border: 1px solid var(--color-brand);
  background-color: var(--color-primary-light);
  border-radius: 15px;
  padding: 28px;
}

.ingredient-img {
  margin-bottom: 36px;
}
.ingredients-subtitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
}

.ingredients-overlay {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  position: absolute;
  inset: 0;
  padding: 20px;
  border-radius: 15px;
  border: none;
  transform: translateY(100%);
  transition: transform 1s;
}
.ingredients-card:hover .ingredients-overlay {
  transform: translateY(0);
}

.ing-block {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}

.ing-ov-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.ing-type {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  border: none;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  padding: 6px 16px 6px 16px;
  border-radius: 35px;
}
.ing-benefit {
  background-color: var(--color-background-light);
  color: var(--color-primary);
  border: 1px solid var(--color-brand);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  padding: 6px 16px 6px 16px;
  border-radius: 35px;
}
.ing-ov-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: left;
}
/* Video section */

.video-inner {
  display: flex;
  gap: 20px;
}

.video-media {
  flex-basis: calc((100% - 20px) / 2);
}
.video-background {
  border-radius: 15px;
  object-fit: cover;
  height: 100%;
}
.video-btn {
  /* TODO video btn center*/
  display: none;
}
.video-content {
  padding: 32px;
  flex-basis: calc((100% - 20px) / 2);
}

.video-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: left;
}

/* Products Section */

.products-list {
  display: flex;
  gap: 18px;
  align-items: center;
}

.products-item {
  flex-basis: calc((100% - 54px) / 4);
}

.products-card {
  border: 1px solid var(--color-border-dark);
  border-radius: 15px;
  padding: 32px 20px;
  background-color: var(--color-primary-light);
}
.products-img {
  margin-bottom: 8px;
}
.products-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;

  text-transform: uppercase;
  margin-bottom: 2px;
}
.products-subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;

  color: var(--color-primary-dark);
  margin-bottom: 18px;
}

.products-price {
  border: 1px solid var(--color-border-dark);
  border-radius: 100px;

  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;

  text-transform: uppercase;
  padding: 8px 20px;
}

/* Sellers Section */

.sellers-list {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.sellers-item {
  flex-basis: calc((100% - 32px) / 3);
}

.sellers-inner {
  display: flex;
}
.sellers-title {
  max-width: 407px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: left;
}

.sellers-btn {
  margin-left: auto;
}

/* Reviews section */

.reviews-block {
  padding-top: 41px;
  padding-bottom: 50px;
}
.reviews-list {
  display: flex;
  gap: 28px;
}
.reviews-item {
  position: relative;
  flex-basis: calc((100% - 56px) / 3);
}
.reviews-comment {
  border: 1px solid var(--color-border-dark);
  border-radius: 15px;
  padding: 56px 24px 42px;
  background-color: var(--color-primary-light);
  text-align: center;
  box-shadow: 0 9px 26px 0 var(--c-border-extra);
  max-height: 200px;
}
.reviews-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.review-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  /* text-align: center; */
  margin-bottom: 24px;
}
.review-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  /* text-align: center; */
  color: var(--color-primary-dark);
}

.review-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-btn {
  padding: 14px 40px;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid var(--color-brand);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: left;
  background-color: var(--color-primary-light);
}

.review-btn:hover {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
}

/* Subscripe section */
.subscribe-section {
  padding-top: 64px;
}

.subscribe-container {
  background-color: var(--color-background);
  background-image: url(../images/subcribe-bg.jpeg);
  background-size: cover;
}
.subscribe-inner {
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscribe-title {
  max-width: 378px;
  color: var(--color-primary-light);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.subscribe-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 24px;
  max-width: 467px;
}
